/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.form {
  display: flex;
  gap: 8px;
  width: 370px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 35px;
}

.form-input {
  color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5px;
    letter-spacing: 0.04em;

    padding: 8px 16px;
    outline: none;

    border-radius: 4px;
      border: 1px solid #808080;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4E75FF;
}

.form-input::placeholder {
  color: #808080;
}

.form-btn {
color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;

  width: 90px;
  height: 40px;

  padding: 8px 16px;


  border-radius: 8px;
    background: #4E75FF;
    border: none;
    outline: none;
}

.form-btn:hover {
  background: #6C8CFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
}

.list-item {
}

.list-link {
    position: relative;
}

.list-img {
height: 200px;
}

.img-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 4px 25px 4px 20px;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #FFF;
position: absolute;
bottom: 0px;
width: 360px;}

.img-titles {
  color: #2E2F42;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.04em;

    text-align: center;
}

.img-titles p {
    font-weight: 400;
    line-height: 2;
}

.has-lightbox .sl-overlay{
  background-color: #000;
}

.loader {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.loader:before , .loader:after {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    margin: 0  5px  ;
    border-radius: 50%;
    color: #afb5ba;
    background: currentColor;
    box-shadow: 50px 0 ,  -50px 0;
    animation: left 1s infinite ease-in-out;
  }
  .loader:after {
    color: #FF3D00;
    animation: right 1.1s infinite ease-in-out;
  }


@keyframes right {
  0% , 100%{transform: translateY(-10px) }
  50% { transform: translateY(10px) }
}

@keyframes left {
  0% , 100%{ transform: translateY(10px) }
  50% { transform: translateY(-10px) }
}
